@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

* {
  font-family: "DM Sans", sans-serif;
}


h1, h6{
  font-family: "Poppins", sans-serif;
}

.poppins{
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #7b41a7;
  opacity: 40%;
  border-radius: 5px;
}

.border-gradient {
  border: 1.5px solid;
  border-image: linear-gradient(180deg,
      rgba(255, 255, 255, 0.34) 0%,
      rgba(255, 255, 255, 0) 100%) 1;
}

.backgroung-img {
  background: url('/assets/input-bg.svg');
  background-size:  100% 100%;
  background-position: center;
  background-repeat: no-repeat;

}
.img {
  background: url('/assets/ellipse.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.image {
  background: url('/assets/union.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

  
.btn-img{
  background: url('/assets/btu-img.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.box-img{
  background: url('/assets/box.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.slider-btn1{
  background: url('/assets/slider-btn1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.slider-btn2{
  background: url('/assets/slider-btn2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.how-img{
  background: url('/assets/how.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.howbg-img{
  background: url('/assets/howbg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


@theme {
  /* Colors */
  --color-white: #f5f5f5;
  --color-violet: #432755;
  --color-violet2: #3b214b;
  --color-dark-violet: #220e2d;
  --color-category-border: #432755;
  --color-linear: #e9ad83;
  --color-gradient: #9b1fe8;
  --color-purple: #1c0829;
  --color-red: #ff6565;

  /* Line Height */
  --leading-90: 90%;
  --leading-100: 100%;
  --leading-110: 110%;
  --leading-118: 118%;
  --leading-120: 120%;
  --leading-125: 125%;
  --leading-130: 130%;
  --leading-135: 135%;
  --leading-140: 140%;
  --leading-150: 150%;

  /* Font-Size */
  --text-custom-sm: 15px;
  --text-custom-xs: 13px;
  --text-custom-2xl: 28px;
  --text-custom-3xl: 32px;
  --text-custom-4xl: 40px;
  --text-custom-6xl: 64px;

  /* Font Family */
  --font-dm-sans: var(--font-dm-sans);
  --font-poppins: var(--font-poppins);

  /* Letter-Spacing */
  --tracking-6: 6%;
}