@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

* {
  font-family: "DM Sans", sans-serif;
}

.border-gradient {
  border: 1.5px solid;
  border-image: linear-gradient(180deg,
      rgba(255, 255, 255, 0.34) 0%,
      rgba(255, 255, 255, 0) 100%) 1;
}

.backgroung-img {
  background: url('/assets/input-bg.svg');
  background-size:  100% 100%;
  background-position: center;
  background-repeat: no-repeat;

}
.img {
  background: url('/assets/ellipse.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}